div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-top: 40px;
}

h3{
    margin: 0;
}

h4{
    margin: 7px;
}

ol li{
    line-height: 22px;
}

ol{
    margin: 0px;
}

ul > li{
    margin-bottom: 20px;
}